*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.wrapper{
    margin:0;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px; 
    padding-right: 60px;
    background-color: #f5f5f7;
    height: 100vh;
}
.circle{
   background: #cdced7;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   flex:2px;
}
.circle-b{
    background: #e1e1e7;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    flex:2px;
 }
/* #e1e1e7 */
.flex-container{
    padding-top: 60px;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #72738e;
}
/* flex container     
}*/
.flex-nav ul{
    /* margin: 0; */
    padding:0;
    display: flex;
    padding-top: 20px;
    /* flex-basis: 500%; */
    /* max-width: 1440px; */
    width: 100%;
    max-width: 1440px;
    /* display: block; */
    margin: 0 auto
}
/* .flex-nav{
    width: 100%;
    max-width: 1440px;
    display: block;
    margin: 0 auto
} */
/* flex child */
.flex-child{
    flex:3;
    padding-top: 17px;
    font-size: 12.5px;
}
.two{
    flex:2;
    align-items: center;
}
.circle-p{
   /* color: white; */
   position: absolute;
   top: 0;
   padding-top: 58px;
    /* padding-top: :50px */
}
.three{
    flex:3;
}
.p--pad{
    padding-left: 40px;
    /* padding-top: ; */
}

.one{
    padding-top: 2px;
    padding-left: 30px;
    flex:3;
}
/* .two:active{
    color:#4f506d;
} */
 .eight{
    flex: 1;
}

.four{
    flex:1;
    justify-content: flex-end;

}
.five{
    flex:1;
    /* justify-content: flex-end; */

}
.six{
    flex:1;
    /* justify-content: flex-end; */

}

.seven{
    flex: 2;
    /* justify-content: flex-end; */

}
.btn{
    flex:2;
    border:none;
    background-color:#e7e8eb;
	border-radius:30px;	
	color:#72738e;
    padding:20px 1px;
    text-decoration:none;	
    font-size: 13.5px;
}

/*css for second flex*/
.btn--purple{
    background-color:#72738e;
    color: white;
    padding: 20px 30px;
    /* flex:5 5;
    padding-top: 30px;
    margin-top:10px;  */

}
/* btn--color:hover{
    background-color: #e7e8eb;
} */
input[type=text] {
    width: 30%;
    border:0px;
    border-bottom: 1px solid #cfd0d9;  
    background: transparent;
    /* padding-left:40px */
    /* color: #cfd0d9;   */
    /* border: none; */
}
.flex-phone{
    padding:20px 5px;
    width: 2px;
    margin-left: -6px;
}
/* ::placeholder{
    padding: 40px;
} */

.flex-land-page{
    padding:0;
    display: flex;
    padding-top: 60px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    flex-flow: column;
    /* flex-wrap:column wrap; */
    /* height: 50vh; */
}
.flex-h5{
    /* position: relative;
    left: -150px;
    bottom: -90px; */
    font-size: 15px;
    padding-top:60px;
    padding-bottom:60px;
    color: #333456;
}

h2.flex-just{
    padding-left: -2px;
    padding-top: 130px;
    font-size: 100px;
    color: #333456;

}
/* .flex-i{
    justify-content:  
} */

/* do a search on how to do @media for flexbox */
/* @media all and (max-width:1000px){
width: 100%;
    max-width: 1440px;
    /* display: block; */
    /* margin: 0 auto; */
/* }
@media all and  */ 
